@font-face {
  font-family: "Gothic";
  src: url("/fonts/Gothic/AllRoundGothic-Thick.otf");
  font-display: swap;
}
@font-face {
  font-family: "Kievit";
  src: url("/fonts/Kievit/KievitPro.otf");
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Kievit" !important;
}
